
    <div class="container">
      <footer class="d-flex justify-content-between 
                     align-items-center py-3 my-4 border-top">
        <div class="col-12 d-flex flex-wrap
                    justify-content-center">
          <a href="/" class="text-muted text-decoration-none">
            Title parser-exporter
          </a>
          <span class="text-muted">
            &copy; 2022 DAnGeL4. All rights reserved.
          </span>
        </div>
          
      </footer>
    </div>